@import '../../mixins/common';

.text-dropdown {
  @include flexCenterRow;
  padding-left: 10px;
  cursor: pointer;

  .dd-icon {
    @include flexCenter;
  }
}

.text-dd-popover {
  .MuiPopover-paper {
    padding: 5px 0;
    .dd-menu-item.active {
      color: var(--primary);
    }
  }
}

.text-dropdown.primary {
  .dd-value {
    color: var(--primary);
  }
  .dd-icon {
    color: var(--primary);
  }
}
