@import '../../mixins/common';
@import '../../mixins/responsive';

.accuracy-sec-wrap {
  @include w1280 {
    margin-bottom: 30px;
  }

  .info-header-wrap {
    @include lrPartition;
    margin: 0 48px 0 72px;

    @include w1366 {
      margin: 0 32px 0 48px;
    }

    @include w960 {
      flex-direction: column;

      .left-part {
        align-self: flex-start;
      }

      .right-part {
        margin-top: 32px;
      }
    }

    @include w600 {
      margin: 0 8px;

      .right-part {
        align-self: center;
      }
    }

    .left-part {
      @include flexCenterRow;
      .bitcoin-icon {
        max-width: 58px;

        @include w600 {
          max-width: 48px;
        }
      }

      .graph-name {
        font-weight: 500;
        font-size: 1.4em;
        margin-left: 24px;
        color: var(--primary);
        white-space: nowrap;

        @include w600 {
          font-size: 1.2em;
          margin: 8px;
        }
      }
    }

    .right-part {
      .currency-options {
        .cur-sel {
          width: 250px;

          @include w1366 {
            width: 200px;
          }

          &.cur-a {
            margin-right: 56px;

            @include w600 {
              @include flexCenter;
              margin-right: 0;
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }

  // -------------- graph ------------------------
  .graph-wrap {
    margin-top: 14px;
    padding: 32px;
    background: var(--bg-graph);

    @include w600 {
      padding: 12px;
    }

    .graph-legends {
      @include flexCenterRow;
      justify-content: flex-end;
      margin-right: 124px;
      margin-bottom: 32px;

      @include w960 {
        flex-direction: column;
        align-items: flex-end;
        margin-right: 48px;

        .lgnd.lgnd-2 .color {
          margin-top: 8px;
          margin-right: 20px;
        }
      }

      @include w600 {
        margin-right: 0;
      }

      .lgnd {
        @include flexCenterRow;

        .color {
          width: 60px;
          height: 30px;
          border-radius: 5px;
          margin-right: 24px;
        }

        .entry {
          font-weight: 500;
        }

        &.lgnd-1 .color {
          background: var(--primary);
        }

        &.lgnd-2 .color {
          background: var(--secondary);
          margin-left: 50px;
        }
      }
    }
  }
}

// currency dd popup
.cur-sel-dropdown {
  .MuiPopover-paper {
    width: 250px;

    @include w1366 {
      width: 200px;
    }
  }
}
