@import '../../mixins/responsive';

.txt-field-wrap {
  .txt-field {
    .txt-field-inp {
      background: var(--bg-item);

      &:hover {
        .MuiOutlinedInput-notchedOutline {
          border-color: var(--primary);
        }
      }

      .MuiInputBase-input {
        &::placeholder {
          color: var(--text-lighter);
          opacity: 1;
        }
      }

      .MuiOutlinedInput-notchedOutline {
        border-color: var(--bg-item);
      }

      .MuiInputAdornment-positionStart {
        color: var(--text-darker);
      }

      .MuiInputAdornment-positionEnd {
        .clr-btn {
          color: var(--text-lighter);
          &:hover {
            background: transparent;
          }
        }
        @include w600 {
          .MuiIconButton-root {
            .MuiSvgIcon-root {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  .txt-field-error {
    color: var(--error);
    display: block;
  }

  &.is-disabled {
    .txt-field {
      .MuiOutlinedInput-input {
        background: #f0f0f0;
        color: var(--text-lighter);
        cursor: not-allowed;
      }

      .MuiOutlinedInput-notchedOutline {
        border-color: #f0f0f0;
      }
    }

    .txt-field-inp:hover .MuiOutlinedInput-notchedOutline {
      border-color: #f0f0f0;
    }
  }
}

.txt-field-wrap.with-error {
  position: relative;
  padding-bottom: 20px;
  .txt-field-error {
    position: absolute;
    bottom: 0;
  }
}
