:root {
  --primary: #5843be;
  --secondary: #c30f70;

  --text: #292d48;
  --text-darker: #707070;
  --text-lighter: #b9b9b9;

  --bg: #e5e5e5;
  --bg-item: #f6f7f8;
  --bg-graph: #fffdf7;
}

:root {
  --font-main: 'Poppins', sans-serif;
}
